@{
    ViewData["Title"] = "Border Generator";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <form action="" method="POST">
        <label for="password">Password:</label>
        <input type="password" name="password">
        <input type="submit" value="New Border">
    </form>
</div>
